@import "../../styles/variables.scss";

.images-slider {
    position: relative;

    .images-container {
        height: 500px;
        position: relative;

        img {
            &:first-child {
                display: block;
            }

            display: none;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
            box-shadow: 5px 10px 15px $cart-color;
        }

        .category {
            position: absolute;
            top: 0;
            right: 0;
            margin: 1rem;
            background-color: $crimson-opacity;
            color: white;
            padding: 0.1rem 0.2rem;
            border-radius: 0.3rem;
        }

        .category-theme {
            background-color: $cart-color-opacity;
        }
    }

    .btn {
        position: absolute;
        top: 50%;
        height: 5rem;
        fill: $fav-color;
        border: none;
        z-index: 1;
        transition: all 0.5s ease-in-out;

        &:first-child {
            left: 0;
            transform: rotate(-180deg);
        }

        &:last-child {
            right: 0;
        }
    }

    .btn-theme {
        fill: $cart-color-header;
    }
}

@media (max-width: "900px") {
    .images-slider {
        .images-container {
            height: 400px;
        }

        .btn {
            height: 4rem;
        }
    }
}

@media (max-width: "700px") {
    .images-slider {
        padding-top: 2rem;

        .images-container {
            height: 300px;
        }

        .btn {
            height: 3rem;
        }
    }
}