@import "./variables.scss";
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin cards {
    padding: 1rem;
    @include flex-center;
    flex-wrap: wrap;
}
@mixin theme-background {
    background: #F0F2F0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #F0F2F0, #000C40);
        /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F0F2F0, #000C40);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin theme-background-change {
    background: #A1FFCE;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


@mixin header-active {
    background-color: $bg-color-whitesmoke;
    color: $footer-bg-dark;
    box-shadow: 5px 5px 10px $footer-bg-light;
}

@mixin header-theme {
    color: $footer-bg-dark;
}

@mixin header-active-theme {
    background-color: $footer-bg-dark;
    color: $bg-color-whitesmoke;
    box-shadow: 5px 5px 10px $footer-bg-dark;
}
@mixin animate-card-category {
    transform: rotateY(0);
    letter-spacing: 0px;
    animation: category-name 20s linear infinite;
    transition: all 1s ease-in-out;

    @keyframes category-name {
        0% {
            letter-spacing: 0px;
            transform: rotateY(0);
            padding: 1rem 3rem;
        }

        20% {
            letter-spacing: 5px;
            transform: rotateY(0);
            padding: 1rem 1rem;
        }

        40% {
            letter-spacing: 0px;
            transform: rotateY(0);
            padding: 1rem 3rem;
        }

        60% {
            letter-spacing: 0px;
            transform: rotateY(360deg);
            padding: 1rem 3rem;
        }

        80% {
            letter-spacing: 0px;
            transform: rotateY(0);
            padding: 1rem 3rem;
        }

        100% {
            letter-spacing: 0px;
            transform: rotateY(0);
            padding: 1rem 3rem;
        }
    }
}