@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@mixin card-product-p {
    position: absolute;
    display: none;
    font-size: 0.8rem;
}

@mixin card-product-svg-hover {
    transform: translateY(-20px);
    display: block;
}