$bg-color-pink: pink;
$bg-color-whitesmoke: rgb(245, 245, 245);
$fav-color: crimson;
$cart-color: #333;
$cart-color-header: gold;
$cart-color-opacity: rgba(255, 215, 0, 0.7);
$svg-number-color: #111;
$crimson-opacity: rgba(220, 20, 60, 0.7);
$footer-bg-dark: #332d2d;
$footer-bg-light: #93969d;
$footer-p-dark: #888;
$footer-p-light: #444;