$bg-color-pink: pink;
$bg-color-whitesmoke: whitesmoke;
$fav-color: crimson;
$cart-color: #333;
$cart-color-header: gold;
$cart-color-opacity: rgba(255, 215, 0, 0.7);
$svg-number-color: #111;
$crimson-opacity: rgba(220, 20, 60, 0.7);
$footer-bg-dark: #222;
$footer-bg-light: #f5f5f5;
$footer-p-dark: #888;
$footer-p-light: #444;