@import "../../styles/mixsins.scss";
@import "../../styles/variables.scss";

.header-controllers {
    @include flex-center-column;
    position: fixed;
    background-color: $bg-color-whitesmoke;
    padding: 1rem 0.3rem;
    border: 1px solid $footer-p-light;
    border-radius: 0.5rem;
    top: 5rem;
    right: 12rem;
    z-index: 1000;

    &.theme-btn-bg {
        background-color: $footer-bg-light;
        border: none;
    }

    .link-style {
        position: relative;

        .link-svg-cart {
            height: 1.7rem;
            fill: $cart-color;
            margin-bottom: 1rem;

            &.theme-cart {
                fill: $bg-color-whitesmoke;
            }
        }

        .link-svg-fav {
            height: 1.7rem;
            fill: $fav-color;
        }

        p {
            position: absolute;
            margin: 0;
            padding: 0;
            color: $svg-number-color;
            font-weight: bolder;
            font-size: 1.2rem;
            padding: 1px;
            transform: translate(-50%, -50%);
            top: 48%;
            left: 50%;
            color: $bg-color-whitesmoke;

            &.theme-p {
                color: $cart-color;
            }
        }

        .cart {
            top: 17%;
            left: 55%;
        }



        .animate {
            animation: svg 3s linear infinite;
        }

        @keyframes svg {
            0% {
                transform: scale(1);
                transition: all 0.3s ease-in-out;
            }

            50% {
                transform: scale(1.2);
                transition: all 0.3s ease-in-out;
            }

            100% {
                transform: scale(1);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

@media (max-width: "1600px") {
    .header-controllers {
        right: 10rem;
    }
}

@media (max-width: "1300px") {
    .header-controllers {
        right: 8rem;
    }
}


@media (max-width: "1100px") {
    .header-controllers {
        right: 6rem;
    }
}

@media (max-width: "900px") {
    .header-controllers {
        top: 4rem;
        right: 4rem;
    }
}

@media (max-width: "700px") {
    .header-controllers {
        right: 0.5rem;
    }
}