@import "../../styles/mixsins.scss";
@import "../../styles/variables.scss";
@import "../../styles/miksins-animations.scss";

.header-controllers {
    @include flex-center;
    position: fixed;
    background-color: $footer-bg-dark;
    padding: 0.4rem;
    border-radius: 0.5rem;
    top: 5rem;
    right: 12rem;
    z-index: 1000;

    &.theme-btn-bg {
        background-color: $footer-bg-light;
    }

    .link-style {
        position: relative;

        .link-svg-cart {
            height: 1.7rem;
            fill: $bg-color-whitesmoke;
            margin-right: 1rem;
        }

        .link-svg-fav {
            height: 1.7rem;
            fill: $fav-color;
        }

        p {
            position: absolute;
            margin: 0;
            padding: 0;
            color: $svg-number-color;
            font-weight: bolder;
            font-size: 1.2rem;
            padding: 1px;
            transform: translate(-50%, -50%);
            top: 48%;
            left: 44%;
            color: $footer-bg-dark;
        }

        .cart {
            top: 28%;
            left: 40%;
        }

        @include animate-card-fav-btn;
    }
}

@media (max-width: "1600px") {
    .header-controllers {
        right: 10rem;
    }
}

@media (max-width: "1300px") {
    .header-controllers {
        right: 8rem;
    }
}


@media (max-width: "1100px") {
    .header-controllers {
        right: 6rem;
    }
}

@media (max-width: "900px") {
    .header-controllers {
        top: 4rem;
        right: 4rem;
    }
}

@media (max-width: "700px") {
    .header-controllers {
        right: 0.5rem;
    }
}