.contact-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F0F2F0;
}
.contact-component.theme-contact-page {
  background: #A1FFCE;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, #A1FFCE);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contact-component .heading-contact {
  border-radius: 1rem;
  margin: 3rem 0 3rem 0;
  padding: 0.5rem 1rem;
  color: #444;
  position: relative;
  text-align: center;
}
.contact-component .heading-contact:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #444;
  -webkit-animation: headingbefore 13s linear infinite;
          animation: headingbefore 13s linear infinite;
  transition: all 0.4s ease-in-out 0s;
}
.contact-component .heading-contact:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #444;
  -webkit-animation: headingafter 13s linear infinite;
          animation: headingafter 13s linear infinite;
  transition: all 0.4s ease-in-out 0s;
}
@-webkit-keyframes headingafter {
  0% {
    top: 0;
    right: 0;
    height: 100%;
  }
  25% {
    bottom: 0;
    height: 0;
  }
  50% {
    bottom: 0;
    left: 0;
    height: 100%;
  }
  75% {
    top: 0;
    right: 0;
    height: 0;
  }
  100% {
    top: 0;
    right: 0;
    height: 100%;
  }
}
@keyframes headingafter {
  0% {
    top: 0;
    right: 0;
    height: 100%;
  }
  25% {
    bottom: 0;
    height: 0;
  }
  50% {
    bottom: 0;
    left: 0;
    height: 100%;
  }
  75% {
    top: 0;
    right: 0;
    height: 0;
  }
  100% {
    top: 0;
    right: 0;
    height: 100%;
  }
}
@-webkit-keyframes headingbefore {
  0% {
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  25% {
    right: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
  }
  50% {
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  75% {
    bottom: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
  }
  100% {
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
}
@keyframes headingbefore {
  0% {
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  25% {
    right: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
  }
  50% {
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  75% {
    bottom: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
  }
  100% {
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
}
.contact-component .contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0rem 8rem 0rem;
}
.contact-component .contact-container .contact-links {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-component .contact-container .contact-links .contact-item {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 0.2rem 1rem;
}
@media (max-width: 700px) {
  .contact-component .contact-container .contact-links .contact-item {
    width: 300px;
  }
}
.contact-component .contact-container .contact-links .contact-item svg {
  height: 1.8rem;
  padding-bottom: 0;
  fill: #444;
}
.contact-component .contact-container .contact-links .contact-item .location-svg {
  height: 1.4rem;
  padding: 4px 7px;
  border-radius: 2px;
  fill: rgb(245, 245, 245);
  background-color: #444;
}
.contact-component .contact-container .contact-links .contact-item img {
  padding: 5px 3px;
  border-radius: 4px;
  height: 1.5rem;
  width: 1.6rem;
  background-color: #444;
}
.contact-component .contact-container .contact-links .contact-item .contact-item-link {
  text-decoration: none;
  margin: auto;
  font-size: 1rem;
  font-weight: bold;
  color: #444;
  transition: all 0.5s ease-in-out;
}
.contact-component .contact-container .contact-links .contact-item .contact-item-link:hover {
  letter-spacing: 4px;
}
@media (max-width: 700px) {
  .contact-component .contact-container .contact-links .contact-item .contact-item-link:hover {
    letter-spacing: 0;
  }
}/*# sourceMappingURL=Contact.css.map */