@import "../../styles/mixsins.scss";
@import "../../styles/variables.scss";

.header-controllers {
    @include flex-center;

    .link-style {
        position: relative;

        .link-svg-cart {
            height: 1.7rem;
            fill: $cart-color-header;
            margin-right: 1rem;
        }

        .link-svg-fav {
            height: 1.7rem;
            fill: $fav-color;
            margin-right: 1rem;
        }

        p {
            position: absolute;
            color: $svg-number-color;
            font-weight: bolder;
            font-size: 1.2rem;
            padding: 1px;
        }

        .cart {
            top: -25%;
            left: 25%;
            transform: transition(25%, -25%);
        }

        .fav {
            top: -15%;
            left: 15%;
            transform: transition(15%, -15%);
        }

        .animate {
            animation: svg 3s linear infinite;
        }

        @keyframes svg {
            0% {
                transform: scale(1);
                transition: all 0.3s ease-in-out;
            }

            50% {
                transform: scale(1.2);
                transition: all 0.3s ease-in-out;
            }

            100% {
                transform: scale(1);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}