@import "../../styles/variables.scss";

.card {
    width: 18rem;
    margin: 1rem;
    box-shadow: 5px 15px 15px $footer-bg-dark;

    .card-img {
        height: 13rem;
        max-height: 13rem;
        object-fit: cover;
    }
}