@import "./styles/mixsins.scss";
@import "./styles/variables.scss";

.app {
  position: relative;
  min-height: 100vh;
  .page {
      @include flex-center-column;
      padding: 4rem 1rem;
      min-height: 100vh;
      @include theme-background;
    }
  
    .page-change-background {
      @include theme-background-change;
    }
  
    .cards {
      padding: 1rem;
      @include flex-center;
      flex-wrap: wrap;
    }
  
    
}