@import "../../styles/variables.scss";

.heading-price {
    color: $footer-bg-dark;
}

.price {
    background-color: $footer-bg-dark;
        color: $bg-color-whitesmoke;
    padding: 0 1rem;
    border-radius: 0.5rem;
}

.price-theme {
    background-color: $cart-color-opacity;
    color: $footer-bg-dark;
    
    .description {
        color: $footer-bg-dark;
        font-size: 1.1rem;
    }
    
    
}